@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

:root{
  --primary-color: #ffffff;
  --secondary-color: #2F3191;
  --button-color: #EC108B;
}

body{
  background: linear-gradient(90deg, rgba(220,240,198,1) 24%, rgba(150,195,94,1) 100%);
}